* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    display: flex;
    flex-wrap: wrap;
    width: var(--board-size);
    height: var(--board-size);
    aspect-ratio: 1;
    flex-direction: column;
    border: 4px outset rgb(114, 114, 114);    
}

.row {
    flex: 1;    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.cell {
    flex: 1;    
    background: rgb(121, 121, 121);
    border: 4px inset rgb(151, 151, 151);
}

.bomb {
    background: black;
}


.revealed {
    background: rgb(227, 227, 227);
}