* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content:start;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: var(--board-size);
    height: 80px;
    flex-direction: row;
    background: rgb(125, 125, 125);
    border: 4px solid rgb(54, 54, 54);    
}
#board {
    display: flex;
    flex-wrap: wrap;
    width: var(--board-size);
    height: var(--board-size);
    flex-direction: column;
    border: 4px outset rgb(114, 114, 114);    
}

.row {
    flex: 1;    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;    
    background: rgb(121, 121, 121);
    border: 4px inset rgb(151, 151, 151);
    font-size: 50px;
}

.bomb {
    background-image: url("../Sprites/bomb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.exploded {
    background-color: red;
}

.revealed {
    background: rgb(246, 246, 246);
}

.flagged {
    background-image: url("../Sprites/MINESWEEPER_FLAG.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#mine-counter {
    display: flex;
    justify-content: center;
    align-items: center;    
    background: rgb(121, 121, 121);
    border: 4px inset rgb(151, 151, 151);
    font-size: 50px;
}

#face {
    display: flex;   
    background: rgb(121, 121, 121);
    border: 4px inset rgb(151, 151, 151);
    width: 100px;
    background-image: url("../Sprites/MINESWEEPER_SMILEY.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}

#startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#errorMsg {
    color: red;
    font-size: 14px;
}