* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 1300px;
    display: flex;
    justify-content:start;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

#top {
    display: flex;
    flex-wrap: wrap;
    width: var(--board-size);
    height: 80px;
    flex-direction: row;
    border: 4px outset rgb(114, 114, 114);    
}
#board {
    display: flex;
    flex-wrap: wrap;
    width: var(--board-size);
    height: var(--board-size);
    flex-direction: column;
    border: 4px outset rgb(114, 114, 114);    
}

.row {
    flex: 1;    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.cell {
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    flex: 1;    
    background: rgb(121, 121, 121);
    border: 4px inset rgb(151, 151, 151);
    font-size: 50px;
}

.bomb {
    background: black;
}


.revealed {
    background: rgb(227, 227, 227);
}

.flagged {
    background: rgb(38, 135, 48);
}